<div clas="row">
  <nav class="nav nav-pills nav-justified">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a
        class="nav-item nav-link active"
        routerLink="/accueil"
        routerLinkActive="active"
        href="#"
        >Accueil</a
      >
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a
        class="nav-item nav-link"
        routerLink="/films-liste"
        routerLinkActive="active"
        href="#"
        col-sm-6
        col-md-4
        col-lg-3
        >Les films</a
      >
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a
        class="nav-item nav-link"
        routerLink="/personnages-liste"
        routerLinkActive="active"
        href="#"
        col-sm-6
        col-md-4
        col-lg-3
        >Les personnages</a
      >
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a
        class="nav-item nav-link"
        routerLink="/quotes-liste"
        routerLinkActive="active"
        href="#"
        col-sm-6
        col-md-4
        col-lg-3
        >Les citations</a
      >
    </div>
  </nav>
</div>
