<div class = "container">
    <h4>Voici un petit apperçu des différentes informations que vous pouvez trouver sur ce site : </h4>
    <div class = "row">
   <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/communaute.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Des listes</h5>
          <p class="card-text">Des différents personnages, des différentes citations,..</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Découvrez en plus sur vos personnages favoris</li>
          <li class="list-group-item">Une liste complète de toutes les citations ! </li>
        </ul>
        <div class="card-body">
          <a routerLink="/personnages-liste" href="#" class="card-link">La liste des personnages</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/Aragorn.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Des descriptions de personnages</h5>
              <p class="card-text">Apprenez tout sur chaque personnage de la communauté de l'Anneau!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">N'avez vous jamais voulu savoir quand est né Gandalf?</li>
              <li class="list-group-item">A quelle faction appartient Aragorn?</li>
            </ul>
            <div class="card-body">
              <a routerLink="/personnage-details/5cd99d4bde30eff6ebccfbe6" href="#" class="card-link">Voici la fiche d'Aragorn</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/gandalf.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Des citations cultes</h5>
                  <p class="card-text">Revivez des passages épiques des différents films</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">De qui tient la célèbre citation "Vous ne passerez pas"</li>
                  <li class="list-group-item">Quelles sont les phrases préférées de Gollum?</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/quote-details/5cd96e05de30eff6ebccec8a" href="#" class="card-link">La célèbre réplique de Gandalf</a>
                </div>
              </div>
            </div>
</div>

</div>

<a routerLink="/personnage-details/5cd99d4bde30eff6ebccfbe6" href="#"></a>
